<h1>Recipe App</h1>

<h2>List of Recipe</h2>
<li class = "selectCursor">
  <ul *ngFor = "let recipe of recipeMenu ; let i = index" id = "recipeList{{i}}" (click) = "selectRecipe(recipe)" class = "{{recipe == selectedItem ? 'selected' : '' }}">{{recipe.recipeName}}</ul>
</li>

<div *ngIf="selectedItem != null">
  <table border = "1">
    <tr>
      <td>Recipe Name</td>
      <td *ngFor = "let item of selectedItem.ingredients ; let i = index">Ingredient{{i + 1}}</td>
      <td *ngFor = "let step of selectedItem.instructions ; let i = index">Instructions{{i + 1}}</td>
      <td>Estiamted Cooking Time</td>
    </tr>
    <tr>
      <td id = "selectedRecipeName">{{selectedItem.recipeName}}</td>
      <td *ngFor = "let item of selectedItem.ingredients ; let i = index" id = "selectedIngredients{{i}}">{{item.itemName}}, {{item.itemQuantity}}</td>
      <td *ngFor = "let step of selectedItem.instructions ; let i = index" id = "selectedInstructions{{i}}">{{step}}</td>
      <td id = "selectedEstimatedTime">{{selectedItem.estimatedTime}}</td>
    </tr>
  </table><br>
  <table>
    <tr>
      <td>Name : <input type = "text" [(ngModel)] = "newRecipe.recipeName"></td>
    </tr>
    <tr>
      <td *ngFor = "let item of selectedItem.ingredients ; let i = index">Ingredient{{i+1}} : <input type = "text" [(ngModel)] = "newRecipe.ingredients[i].itemName"></td>
    </tr>
    <tr>
      <td *ngFor = "let item of selectedItem.ingredients ; let i = index">Quantity{{i+1}} : &nbsp;&nbsp; <input type = "number" [(ngModel)] = "newRecipe.ingredients[i].itemQuantity"></td>
    </tr>
    <tr>
      <td *ngFor = "let step of selectedItem.instructions ; let i = index">Instruction{{i+1}} : <input type = "text"[(ngModel)] = "newRecipe.instructions[i]"></td>
    </tr>
    <tr>
      <td>Estimated Time : <input type = "number" [(ngModel)] = "newRecipe.estimatedTime"></td>
    </tr>
  </table>
</div>

<table border = "1" style = "border-color: blue;">
  <tr>
    <td><input type = "button" id = "addIngredientButton" (click) = "addIngredient()" value = "Add Ingredient"></td>
    <td><input type = "button" id = "removeIngredientButton" (click) = "removeIngredient()" value = "Remove Ingredient"></td>
  </tr>
  <tr>
    <td><input type = "button" id = "addInstructionButton" (click) = "addInstruction()" value = "Add Instruction"></td>
    <td><input type = "button" id = "removeInstructionButton" (click) = "removeInstruction()" value = "Remove Instruction"></td>
  </tr>
  <tr>
    <td><input type = "button" id = "addRecipeButton" (click) = "addRecipe()" value = "Add New Recipe"></td>
    <td><input type = "button" id = "editRecipeButton" (click) = "editRecipe()" value = "Update Recipe"></td>
  </tr>
  <tr>
    <td><input type = "button" id = "deleteRecipeButton" (click) = "deleteRecipe()" value = "Delete Recipe"></td>
    <td></td>
  </tr>
</table>